<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Document</title>
</head>
<body>
    <h1>Tomcat iniciado, corriendo correctamente</h1>
    <span th:text="${name}">
        <h6 th:text="${lastname}"></h6>
    </span>
    <h6 th:text="${name}">Name</h6>
    <h6 th:text="${lastname}"></h6>
    <span th:text="${date}">
        <h6 th:text="${time}"></h6>
    </span>
    <h6 th:text="${date}"></h6>    
    <h6 th:text="${time}">Time</h6>

    <h6 th:text="${nameu}">NameU</h6>    
    <h6 th:text="${lastnameu}">LastnameU</h6>
    <h6 th:text="${user}">User</h6>
</body>
</html>